@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-medical-blue: #2563eb;
  --color-medical-green: #22c55e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-800 antialiased;
  }
}

.medical-gradient {
  background: linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 100%);
}
